<header class = "header">

    <ul class = "header-wrapper">

        <li id = "favorites-header-options">
            <a href = "/users/me/favorites" title = "Favoritos">
                <i class = "fas fa-star"></i>
            </a>
        </li>

        <li id = "search-bar-options">
            <form id = "header-search-form" action = "/images">
                <input class = "text-input" id = "search-header-input" name = "q"></input>
                <button type = "submit" class = "button">
                    <i class = "fas fa-search"></i> PESQUISAR
                </button>
            </form>
        </li>

    </ul>

</header>